@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
}

@theme {
  --spacing: 5px;

  --text-logo: 25px;
  --text-h1: 20px;
  --text-small: 14px;

  --color-base: var(--color-white);
  --color-base-inverse: var(--color-gray-800);
  --color-primary: var(--color-amber-300);
  --color-primary-active: var(--color-amber-400);
  --color-fg-inverse: #fff;
  --color-secondary: var(--color-gray-100);
  --color-border: var(--color-gray-400);

  --color-success: var(--color-green-50);
  --color-error: var(--color-red-300);
  --color-info: var(--color-blue-300);

  --color-danger: var(--color-red-500);
}

@layer components {
  .btn {
    @apply py-1 px-2 bg-primary rounded-sm text-shadow-gray-800 hover:bg-primary-active transition-colors;
  }
}

.background-grid {
  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  background-size: 15px 15px;
}
