@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
}

@theme {
  --spacing: 5px;

  --text-logo: 25px;
  --text-h1: 20px;
  --text-small: 14px;

  --color-primary: var(--color-amber-300);
  --color-primary-active: var(--color-amber-400);
  --color-fg-inverse: #fff;

  --color-success: var(--color-green-50);
  --color-error: var(--color-red-300);
  --color-info: var(--color-blue-300);
}

@layer components {
  .btn {
    @apply py-1 px-2 bg-primary rounded-sm text-shadow-gray-800 hover:bg-primary-active transition-colors;
  }
}
